<div class="card mt-5">
    <div class="card-header">
        {{this.isNew ? "Register Ptr_acciones" : "Update Ptr_acciones"}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="submitPtr_acciones(forma)" #forma="ngForm" class="row g-3">
<div class="col-md-6">
<label for="label-idptr_accion"  class="form-label">idptr_accion:</label>"
<input #inputidptr_accion="ngModel"  type="text" name="idptr_accion" [ngClass]="{'is-invalid': inputidptr_accion.touched && inputidptr_accion.hasError('required') }" [(ngModel)]="ptr_acciones.idptr_accion" class="form-control" id="idptr_accion" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-tarea_origen"  class="form-label">tarea_origen:</label>"
<input #inputtarea_origen="ngModel"  type="text" name="tarea_origen" [ngClass]="{'is-invalid': inputtarea_origen.touched && inputtarea_origen.hasError('required') }" [(ngModel)]="ptr_acciones.tarea_origen" class="form-control" id="tarea_origen" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-idptr_proceso"  class="form-label">idptr_proceso:</label>"
<input #inputidptr_proceso="ngModel"  type="text" name="idptr_proceso" [ngClass]="{'is-invalid': inputidptr_proceso.touched && inputidptr_proceso.hasError('required') }" [(ngModel)]="ptr_acciones.idptr_proceso" class="form-control" id="idptr_proceso" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-tarea_destino"  class="form-label">tarea_destino:</label>"
<input #inputtarea_destino="ngModel"  type="text" name="tarea_destino" [ngClass]="{'is-invalid': inputtarea_destino.touched && inputtarea_destino.hasError('required') }" [(ngModel)]="ptr_acciones.tarea_destino" class="form-control" id="tarea_destino" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-fecha_ultimo_cambio"  class="form-label">fecha_ultimo_cambio:</label>"
<input #inputfecha_ultimo_cambio="ngModel"  type="text" name="fecha_ultimo_cambio" [ngClass]="{'is-invalid': inputfecha_ultimo_cambio.touched && inputfecha_ultimo_cambio.hasError('required') }" [(ngModel)]="ptr_acciones.fecha_ultimo_cambio" class="form-control" id="fecha_ultimo_cambio" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-usuario_ultimo_cambio"  class="form-label">usuario_ultimo_cambio:</label>"
<input #inputusuario_ultimo_cambio="ngModel"  type="text" name="usuario_ultimo_cambio" [ngClass]="{'is-invalid': inputusuario_ultimo_cambio.touched && inputusuario_ultimo_cambio.hasError('required') }" [(ngModel)]="ptr_acciones.usuario_ultimo_cambio" class="form-control" id="usuario_ultimo_cambio" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-activo"  class="form-label">activo:</label>"
<input #inputactivo="ngModel"  type="text" name="activo" [ngClass]="{'is-invalid': inputactivo.touched && inputactivo.hasError('required') }" [(ngModel)]="ptr_acciones.activo" class="form-control" id="activo" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-orden"  class="form-label">orden:</label>"
<input #inputorden="ngModel"  type="text" name="orden" [ngClass]="{'is-invalid': inputorden.touched && inputorden.hasError('required') }" [(ngModel)]="ptr_acciones.orden" class="form-control" id="orden" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-valor"  class="form-label">valor:</label>"
<input #inputvalor="ngModel"  type="text" name="valor" [ngClass]="{'is-invalid': inputvalor.touched && inputvalor.hasError('required') }" [(ngModel)]="ptr_acciones.valor" class="form-control" id="valor" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-12 text-center">
            <button class=" btn btn-primary" type="submit" [disabled]="forma.invalid">{{this.isNew ? "Register" : "Update"}}</button>
            <button style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="limpiarForm(forma)">Clear</button>
            <button *ngIf="!this.isNew" style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="emitChange.emit()">Cancel</button>
          </div>
      </form>
    </div>
</div>
<router-outlet></router-outlet> 
