<nav class="bg-withe">
<nav class="navbar navbar-expand-lg bg-white" >
  <div class="container-fluid">
<a class="navbar-brand text-info" href="/Ptr_acciones">Ptr_acciones</a>
<a class="navbar-brand text-info" href="/Ptr_dominios">Ptr_dominios</a>
<a class="navbar-brand text-info" href="/Ptr_objetos">Ptr_objetos</a>
<a class="navbar-brand text-info" href="/Ptr_operadores">Ptr_operadores</a>
<a class="navbar-brand text-info" href="/Ptr_proceso_tareas">Ptr_proceso_tareas</a>
<a class="navbar-brand text-info" href="/Ptr_procesos">Ptr_procesos</a>
<a class="navbar-brand text-info" href="/Ptr_procesos_det">Ptr_procesos_det</a>
<a class="navbar-brand text-info" href="/Ptr_propiedades">Ptr_propiedades</a>
<a class="navbar-brand text-info" href="/Ptr_reglas">Ptr_reglas</a>
<a class="navbar-brand text-info" href="/Ptr_reglas_det">Ptr_reglas_det</a>
<a class="navbar-brand text-info" href="/Ptr_sentencias">Ptr_sentencias</a>
<a class="navbar-brand text-info" href="/Ptr_tarea_reglas">Ptr_tarea_reglas</a>
<a class="navbar-brand text-info" href="/Ptr_tareas">Ptr_tareas</a>
<a class="navbar-brand text-info" href="/Ptr_tipo_de_datos">Ptr_tipo_de_datos</a>
<a class="navbar-brand text-info" href="/Ptr_tipo_dominios">Ptr_tipo_dominios</a>
<a class="navbar-brand text-info" href="/Ptr_tipo_reglas">Ptr_tipo_reglas</a>
<a class="navbar-brand text-info" href="/Ptr_tipo_tareas">Ptr_tipo_tareas</a>
<div class="collapse navbar-collapse " id="navbarNav">
    </div>
  </div>
</nav>
<router-outlet></router-outlet> 