<div #sideBar class="sidebar" [ngClass]="{ open: !!open }">
  <div class="logo-details">
    <a routerLink="home" style="text-decoration: none;">
      <div class="logo_name"><i class="bi bi-box icon">PTR</i></div>
    </a>
    <i
      class="bi bi-list"
      id="btn"
      (click)="openNav()"
      [ngClass]="{ 'bi-list': !open, 'bi-filter-right': open }"
    ></i>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="Ptr_acciones">
        <i class="bi bi-hand-index-thumb"></i>
        <span class="links_name">Acciones</span>
      </a>
      <span class="tooltip">Acciones</span>
    </li>

    <li>
      <a routerLink="Ptr_dominios">
        <i class="bi bi-globe2"></i>
        <span class="links_name">Dominios</span>
      </a>
      <span class="tooltip">Dominios</span>
    </li>

    <li>
      <a routerLink="Ptr_objetos">
        <i class="bi bi-box"></i>
        <span class="links_name">Objetos</span>
      </a>
      <span class="tooltip">Objetos</span>
    </li>

    <li>
      <a routerLink="Ptr_operadores">
        <i class="bi bi-code-slash"></i>
        <span class="links_name">Operadores</span>
      </a>
      <span class="tooltip">Operadores</span>
    </li>

    <li>
      <a routerLink="Ptr_procesos_det">
        <i class="bi bi-clipboard-pulse"></i>
        <span class="links_name">Procesos Det</span>
      </a>
      <span class="tooltip">Procesos Det</span>
    </li>

    <li>
      <a routerLink="Ptr_procesos">
        <i class="bi bi-activity"></i>
        <span class="links_name">Procesos</span>
      </a>
      <span class="tooltip">Procesos</span>
    </li>

    <li>
      <a routerLink="Ptr_proceso_tareas">
        <i class="bi bi-cpu"></i>
        <span class="links_name">Procesos Tareas</span>
      </a>
      <span class="tooltip">Procesos Tareas</span>
    </li>

    <li>
      <a routerLink="Ptr_propiedades">
        <i class="bi bi-sliders"></i>
        <span class="links_name">Propiedades</span>
      </a>
      <span class="tooltip">Propiedades</span>
    </li>

    <li>
      <a routerLink="Ptr_reglas">
        <i class="bi bi-shield"></i>
        <span class="links_name">Reglas</span>
      </a>
      <span class="tooltip">Reglas</span>
    </li>
    <li>
      <a routerLink="Ptr_reglas_det">
        <i class="bi bi-shield-shaded"></i>
        <span class="links_name">Reglas Det</span>
      </a>
      <span class="tooltip">Reglas Det</span>
    </li>
    <li>
      <a routerLink="Ptr_sentencias">
        <i class="bi bi-filter-circle"></i>
        <span class="links_name">Sentencias</span>
      </a>
      <span class="tooltip">Sentencias</span>
    </li>
    <li>
      <a routerLink="Ptr_tareas">
        <i class="bi bi-receipt-cutoff"></i>
        <span class="links_name">Tareas</span>
      </a>
      <span class="tooltip">Tareas</span>
    </li>

    <li>
      <a routerLink="Ptr_tipo_tareas">
        <i class="bi bi-window-dock"></i>
        <span class="links_name">Tipo Tarea</span>
      </a>
      <span class="tooltip">Tipo Tarea</span>
    </li>

    <li>
      <a routerLink="Ptr_tarea_reglas">
        <i class="bi bi-lock"></i>
        <span class="links_name">Tareas Reglas</span>
      </a>
      <span class="tooltip">Tareas Reglas</span>
    </li>

    <li>
      <a routerLink="Ptr_tipo_de_datos">
        <i class="bi bi-file-binary"></i>
        <span class="links_name">Tipo Dato</span>
      </a>
      <span class="tooltip">Tipo Datos</span>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</section>
