<body>
  <h1>INICIO</h1>
  <p>Accesos rapidos</p>
  <div class="container">
    <div class="card">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <h2>01</h2>
        <h3>Procesos</h3>
        <a routerLink="../prosesos" style="background: transparent;"><button type="button">Acceder</button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <h2>02</h2>
        <h3>Tareas</h3>
        <a routerLink="../tareas" style="background: transparent;"><button type="button">Acceder</button></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <h2>03</h2>
        <h3>Reglas</h3>
        <a routerLink="../reglas" style="background: transparent;"><button type="button">Acceder</button></a>
      </div>
    </div>
  </div>
</body>
